In [1]:
import pandas as pd
import numpy as np

In [13]:
df = pd.read_csv("../data/cleaned_food_analysis.csv")
df.head()

,Order_ID,Customer_ID,Customer_Age,Customer_Gender,City,Area,Restaurant_ID,Restaurant_Name,Cuisine_Type,Order_Date,...,Final_Amount,Payment_Mode,Order_Status,Cancellation_Reason,Delivery_Partner_ID,Delivery_Rating,Restaurant_Rating,Order_Day,Peak_Hour,Profit_Margin
0,ORD000001,CUST6948,19.0,Male,Hyderabad,Central,RES936,Restaurant_29,Chinese,10/20/2024,...,1197.0,upi,Delivered,Not Cancelled,DP563,5.0,4.4,Weekend,True,0.13
1,ORD000002,CUST6515,39.0,Female,Chennai,North,RES689,Restaurant_419,Chinese,8/12/2024,...,4849.0,cod,Delivered,Not Cancelled,DP369,5.0,4.7,Weekday,True,0.48
2,ORD000003,CUST1765,39.0,Male,Delhi,South,RES723,Restaurant_244,Arabian,12/8/2024,...,737.0,wallet,Delivered,Not Cancelled,DP580,4.0,4.9,Weekend,True,0.08
3,ORD000004,CUST2744,39.0,Male,Mumbai,Central,RES951,Restaurant_178,Chinese,10/8/2024,...,0.0,upi,Cancelled,Late Delivery,DP155,NaN,3.4,Weekday,Non-Peak,0.00
4,ORD000005,CUST4389,57.0,Female,Chennai,South,RES419,Restaurant_262,Chinese,2/4/2024,...,352.0,card,Delivered,Not Cancelled,DP728,2.0,4.4,Weekend,False,0.12

In [ ]:
df['Order_Date'] = pd.to_datetime(df['Order_Date'], errors='coerce')

df['Order_Time'] = pd.to_datetime(
    df['Order_Time'], format='%H:%M:%S', errors='coerce'
).dt.time

In [ ]:
df['Order_Day_Type'] = df['Order_Date'].dt.dayofweek.apply(
    lambda x: 'Weekend' if x >= 5 else 'Weekday')

In [ ]:
df['Peak_Hour_Flag'] = df['Peak_Hour'].apply(
    lambda x: 'Peak' if str(x).lower() == 'peak' else 'Non-Peak')

In [ ]:
df['Profit_Margin_Pct'] = np.where(
    df['Final_Amount'] > 0,
    (df['Profit_Margin'] / df['Final_Amount']) * 100,0)

In [ ]:
df['Delivery_Performance'] = pd.cut(
    df['Delivery_Time_Min'],
    bins=[0, 30, 45, 60, np.inf],
    labels=['Fast', 'On-Time', 'Delayed', 'Very Delayed'])

In [ ]:
df['Customer_Age_Group'] = pd.cut(
    df['Customer_Age'],
    bins=[0, 18, 25, 35, 45, 60, np.inf],
    labels=['<18', '18-25', '26-35', '36-45', '46-60', '60+'])

In [ ]:
df[['Order_Day_Type', 'Order_Day_Type', 'Peak_Hour_Flag', 'Profit_Margin_Pct',
     'Delivery_Performance','Customer_Age_Group']].head()

,Order_Day_Type,Peak_Hour_Flag,Profit_Margin_Pct,Delivery_Performance,Customer_Age_Group
0,Weekend,Non-Peak,0.010860,Very Delayed,18-25
1,Weekday,Non-Peak,0.009899,Fast,36-45
2,Weekend,Non-Peak,0.010855,Very Delayed,36-45
3,Weekday,Non-Peak,0.000000,Very Delayed,36-45
4,Weekend,Non-Peak,0.034091,Delayed,46-60

In [21]:
df.to_csv("../data/featured_engineered_food_analysis.csv",index=False)